{% extends "base.html" %}
{% block content %}
	<table>
		<tr valign="top">
			<td><img src="{{ user.avatar(128) }}"></img></td>
			<td>
				<h1>User: {{ user.nickname }}!</h1>
				{% if user.aboutme %}
					<p>{{ user.aboutme }}</p>
				{% else %}
					<p>Melisandre is beautiful,Cersei is ok, Khaleesi is not flat chested, Sansa is hot</p>
				{% endif %}
				{% if user.last_seen %}
					<p><em>Last seen on: {{ momentjs(user.last_seen).calendar() }}</em></p>
				{% else %}
					<p>Last seen on: None</p>
				{% endif %}
				{% if user == g.user %}
					<a href="{{ url_for('edit_about_me') }}">Edit</a>
				{% elif not g.user.is_following(user) %}
					<a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
				{% else %}
					<a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
				{% endif %}
			</td>
		</tr>
	</table>
	<hr>
	{% for post in posts.items %}
	{% include 'post.html' %}
	{% endfor %}
	{% if posts.has_prev %}<a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">&lt;&lt;Newer Posts</a>{% else %}&lt;&lt;Newer Posts{% endif %} |
	{% if posts.has_next %}<a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">&gt;&gt;Older Posts</a>{% else %}&gt;&gt;Older Posts{% endif %}
{% endblock %}